import pytest
import time
import json
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities


@pytest.mark.usefixtures("setup_class")
class {{ class_name }}:
    {% for method in method_list %}
    def {{ method.method_name }}(self):
        # self.driver.get("{{ website_url }}")
        {{ method.operations }}
    {% endfor %}
